@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'NATS';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('../src/fonts/NATS-Regular.woff') format('woff');
    }

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #1e1e1e;
}

body {
    color: white;
    font-size: 16px;
}

h1 {
    font-size: 42px;
}

.link:hover {
    text-decoration: underline;
}

.test-color {
    background-color: #00000082;
}

.app-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.app, .nav {
    width: 800px;
    max-width: 800px;
}

@media screen and (max-width: 800px) {
    .app, .nav {
        width: 100%;
        max-width: 100%;
    }
}

.nav {
    z-index: 999;
    backdrop-filter: blur(4px);
}

.logo {
    font-family: 'Meow Script', cursive;
    font-size: 42px;
}

.hero-tag {
    font-family: 'NATS';
    position: absolute;
    width: 500px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.hero-title {
    line-height: 0;
}

.hero-location {
    font-size: 28px;
    font-weight: 500;
}

.tag {
    font-size: 18px;

}

.tag-home {
    font-size: 16px;
    font-family: 'Miriam Libre';
}

.section-title {
    font-family: 'NATS';
    font-size: 42px;
}

.home-send-email {
    border-radius: 999px;
}

.my-text-box {
    border-radius: 17px;
    border-bottom-right-radius: 0;
}

.btn-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.btn-wrap-bg {
    display: flex;
    gap: 10px;
    border-radius: 17px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
}

.btn-bg {
    transform: translateY(-10px);
}

.btn {
    font-family: 'NATS';
    font-size: 22px;
    padding: 0px 12px;
    border-radius: 10px;
    border: 1px solid;
    transition: background-color 0.1s ease-in, color 0.2s;

}


.btn:hover {
    background-color: rgba(255, 255, 0, 0.164);
    color: yellow;
}
.btn:active {
    background-color: #FFD600;
    color: black;
}


.input {
    border-radius: 17px;
    font-size: 16px;
    padding: 10px;
    padding-left: 14px;
    padding-top: 6px;
    width: 270px;
    margin-bottom: 10px;
}

.textarea {
    width: 510px;
}

.footer {
    font-family: 'Miriam Libre';
}

.footer-section-title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.footer-section-list {
    display: flex;
    flex-direction: column;
border-left: 1px solid white;
padding-left: 15px;
gap: 14px
}

.copyright {
    font-size: 12px;
}